[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = godot-3.5.1-stable
[submodule "subprojects/apclientpp"]
	path = subprojects/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "subprojects/wswrap"]
	path = subprojects/wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "subprojects/zlib"]
	path = subprojects/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.3.1
